div{
    column-gap: 40px;
    padding:10px;
}

.img-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}


.par,.pr,.pa{
    display:none;
}
.column{
 padding: 5px;   

}


